body {
  background-color: FAFFFD;
  font-family: 'Roboto', sans-serif;
  color: #9F84BD;
  font-size: 16px;
}

.container {
  width: 500px;
  margin: auto;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

#button {
  background-color: #C09BD8;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  font-size: 16px;
  position: relative;
  display: block;
}
